body{
  background-image: url('../wallpapers/winter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

#account {
  padding: 25px 30px;
}

#bodycontainer {
  display: block;
}
