<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../css/reset.css">
  <link rel="stylesheet" type="text/css" href="../../css/navbar.css">
  <link rel="stylesheet" href="../css/currentLocation.css">
</head>
<body>

<div id='navContainer'>
  <form id='searchform' action="/buy/search" method="get">
  <input id='searchbar' type="text" name="searchTerm" placeholder="Search">
  <input id='searchsubmit' type="submit" value="Search">
  </form>
  <ul>
    <li><a id='logo' href="/decide">BarGain</a></li>
    <li><a href="/sell">BarSell</a></li>
    <li><a href="/buy">BarBuy</a></li>
       <li><a href="/about">About</a></li>
    <li><a id='account' href="/users/profile">Account</a></li>
  </ul>
</div>

<h1>Your posting has been submitted</h1>
<h2>Good luck!</h2>

<a href="/sell/continue" title="">See your posting</a>

</body>
</html>
